.recipe-carousel {
    display: flex;
}

.recipe-card {
    border: 1px solid black;
    margin: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.already-have {
    color: red;
}

.hidden {
    display: none;
}

.video-carousel {
    display: flex;
}

.video {
    border: 1px solid black;
    width: 480px;
    margin: 10px;
}

.video a {
    width: 100%;
}
